@using Comixer.Infrastructure.Enums;
@using Microsoft.AspNetCore.Identity;
@using Comixer.Extensions;
@model ComicDetailsModel;
@{
    bool isAuthenticated = User.Identity is not null && User.Identity.IsAuthenticated;
    ViewData["Title"] = Model.Title;
}
<div class="bg-banner overflow-hidden" style="background-image: url(@Model.CoverImageUrl)">
</div>
<div class="comic-content">
    <section class="video">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9 col-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-7 col-12">
                            <div class="trailer-box text-center">
                                <img src="@Model.CoverImageUrl" alt="" class="cover-image">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-5 col-12 align-middle">
                            <div class="trailer-content align-middle">
                                <h2>@Model.Title</h2>
                                <p class="light-text">Chapters: @Model.Chapters.Count()</p>
                                @if (isAuthenticated && User.IsInRole("Author") && User.Id() == Model.Author?.Id)
                                {
                                    <div class="dropdown">
                                        <button type="button" class="dropdown-toggle" data-bs-toggle="dropdown">
                                            <svg width="32" height="22" viewBox="0 0 32 22" fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <rect x="0.145264" y="0.00012207" width="21.4395" height="2.68125"
                                                      rx="1.34062" fill="#999999" />
                                                <rect x="0.145264" y="7.41272" width="21.4395" height="2.68125"
                                                      rx="1.34062" fill="#999999" />
                                                <rect x="0.145264" y="14.8258" width="16.4914" height="2.68125"
                                                      rx="1.34062" fill="#999999" />
                                                <path d="M19.8784 16.0712C19.8784 15.4163 20.4093 14.8854 21.0642 14.8854H30.2463C30.9011 14.8854 31.432 15.4163 31.432 16.0712C31.432 16.7261 30.9011 17.257 30.2463 17.257H21.0642C20.4093 17.257 19.8784 16.7261 19.8784 16.0712Z"
                                                      fill="#999999" />
                                                <path d="M25.6552 22.0001C25.0171 22.0001 24.4999 21.4828 24.4999 20.8447V11.2977C24.4999 10.6596 25.0171 10.1423 25.6552 10.1423C26.2933 10.1423 26.8106 10.6596 26.8106 11.2977V20.8447C26.8106 21.4828 26.2933 22.0001 25.6552 22.0001Z"
                                                      fill="#999999" />
                                            </svg>
                                        </button>
                                        <ul class="dropdown-menu bg-color-black pt-3 pb-3 ps-3 pe-3">
                                            <li>
                                                @*<a href="#" class="none"><i class="bi bi-pen"></i> Edit</a>*@
                                                @if (Model.Status != Status.Completed)
                                                {
                                                    <a asp-action="MarkCompleted" asp-controller="Comics" asp-route-id="@Model.Id"><i class="bi bi-check-circle"></i> Mark as Completed</a>
                                                }
                                                else
                                                {
                                                    <a asp-action="MarkReleasing" asp-controller="Comics" asp-route-id="@Model.Id"><i class="bi bi-clock"></i> Mark as Releasing</a>
                                                }
                                                <a asp-controller="Chapter" asp-action="PostChapter" asp-route-id="@Model.Id"><i class="bi bi-plus-lg"></i> Add Chapter</a>
                                                <a href="#" data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="bi bi-trash"></i> Delete</a>
                                            </li>
                                        </ul>
                                    </div>
                                }
                                <h3>Plot Summary</h3>
                                <p>@Model.Description</p>
                                <div class="d-flex pt-4">
                                    @if (@Model.Chapters.Count() >= 1)
                                    {
                                        <a asp-action="Chapter" asp-controller="Chapter"
                                           asp-route-id="@Model.Chapters.Last().Id"
                                           class="anime-btn btn-dark border-change me-3">READ FIRST</a>
                                    }
                                    @if (@Model.Chapters.Count() > 1)
                                    {
                                        <a asp-action="Chapter" asp-controller="Chapter" asp-route-id="@Model.Chapters.First().Id" class="anime-btn btn-dark">READ LAST</a>
                                    }
                                </div>
                            </div>
                            <hr class="my-5">
                            <div class="trailer-content mt-5">
                                <h3>Comic Details</h3>
                                <p><span>Author:</span> <b>@Model.Author?.UserName</b></p>
                                <p><span>Artist:</span> <b>@Model.Artist?.UserName</b></p>
                                <p><span>Date of release:</span> @Model.ReleaseDate.ToString("MMM, dd yyyy", CultureInfo.InvariantCulture)</p>
                                <p><span>Status:</span> <b>@Html.DisplayFor(model => model.Status)</b></p>
                                <p>
                                    <span>Genres: </span>
                                    @foreach (var genre in Model.Genres)
                                    {
                                        <a asp-controller="Comics" asp-action="Search" asp-route-genres="@genre.Name" class="text-box genre-btn mb-1 m-0">@genre.Name</a>
                                    }
                                    @*<p><span>Scores:</span> @Model.AverageRating </p>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <partial name="_ComicChaptersPartial.cshtml" model="@Model.Chapters">
        @if (isAuthenticated && User.IsInRole("Author") && User.Id() == Model.Author?.Id)
        {
            <partial name="_DeleteModalPartial" model="Model" />
        }
</div>
