@using Comixer.Models.Home;
@model HomePageModel
@{
    ViewData["Title"] = "Comixer Home";
    bool isAuthenticated = User.Identity is not null && User.Identity.IsAuthenticated;
}
<div class="banner">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <span class="text">Welcome to</span>
                <span class="text second-line">Comixer</span>
                <img src="~/assets/logo-black.svg" alt="Logo" class="logo">
            </div>
        </div>
    </div>
</div>
<section class="recent sec-mar">
    <div class="container">
        <div class="heading style-1">
            <h2>Recently Updated <span>@DateTime.Now.ToString("dddd dd MMM yyyy", CultureInfo.InvariantCulture)</span></h2>
        </div>
        <div class="row">
            @foreach (var comic in Model.Recent)
            {
                <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                    <div class="anime-blog">
                        <div class="img-block">
                            <img src="@comic.CoverImageUrl">
                            <div class="action-overlay"><a asp-action="Comic" asp-controller="Comics" asp-route-id="@comic.Id"><i class="bi bi-book-half"></i> Read Now</a></div>
                        </div>
                        <div class="detail">
                            <div class="tags">
                                @if (comic.Genres.Count() > 0)
                                {
                                    @foreach (var genre in comic.Genres)
                                    {
                                        <a asp-controller="Comics" asp-action="Search" asp-route-genres="@genre.Name" class="text-box mb-1">@genre.Name</a>
                                    }
                                }
                                else
                                {
                                    <a class="text-box mb-1">No genres specified</a>
                                }
                            </div>

                        </div>
                        <a asp-action="Comic" asp-controller="Comics" asp-route-id="@comic.Id"><p>@comic.Title</p></a>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
@if (isAuthenticated && User.IsInRole("Author") && Model.MyComics.Any(x => x.IsApproved))
{
    <section class="recent sec-mar">
        <div class="container">
            <div class="heading style-1">
                <h2>My Comic Releases <span>@DateTime.Now.ToString("dddd dd MMM yyyy", CultureInfo.InvariantCulture)</span></h2>
            </div>
            <div class="row">
                @foreach (var comic in Model.MyComics)
                {
                    <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                        <div class="anime-blog">
                            <div class="img-block">
                                <img src="@comic.CoverImageUrl">
                                <div class="action-overlay"><a asp-action="Comic" asp-controller="Comics" asp-route-id="@comic.Id"><i class="bi bi-book-half"></i> Read Now</a></div>
                            </div>
                            <div class="detail">
                                <div class="tags">
                                    @if (comic.Genres.Count() > 0)
                                    {
                                        @foreach (var genre in comic.Genres)
                                        {
                                            <a class="text-box mb-1">@genre.Name</a>
                                        }
                                    }
                                    else
                                    {
                                        <a class="text-box mb-1">No genres specified</a>
                                    }
                                </div>

                            </div>
                            <a asp-action="Comic" asp-controller="Comics" asp-route-id="@comic.Id"><p>@comic.Title</p></a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
}
@if (isAuthenticated && User.IsInRole("Author") && Model.MyComics.Any(x => !x.IsApproved))
{
    <section class="recent sec-mar">
        <div class="container">
            <div class="heading style-1">
                <h2>Waiting to be approved <span>@DateTime.Now.ToString("dddd dd MMM yyyy", CultureInfo.InvariantCulture)</span></h2>
            </div>
            <div class="row">
                @foreach (var comic in Model.MyComics)
                {
                    <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                        <div class="anime-blog">
                            <div class="img-block">
                                <img src="@comic.CoverImageUrl">
                                <div class="action-overlay"><a asp-action="Comic" asp-controller="Comics" asp-route-id="@comic.Id"><i class="bi bi-book-half"></i> Read Now</a></div>
                            </div>
                            <div class="detail">
                                <div class="tags">
                                    @if (comic.Genres.Count() > 0)
                                    {
                                        @foreach (var genre in comic.Genres)
                                        {
                                            <a class="text-box mb-1">@genre.Name</a>
                                        }
                                    }
                                    else
                                    {
                                        <a class="text-box mb-1">No genres specified</a>
                                    }
                                </div>

                            </div>
                            <a asp-action="Comic" asp-controller="Comics" asp-route-id="@comic.Id"><p>@comic.Title</p></a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
}